# Numbers and more in Python !

In this lecture, we delve into numerical concepts and their application in elementary mathematics.

In our studies, we explore the following areas: 
1. Types of Numbers in Python
2. Basic Arithemetic
3. Difference between Classic Division and Floor Division.
4. Object Assignment in Python.

# Types of Numbers

Throughout this course, our focus will primarily be on two fundamental types of numbers in Python: integers and floating point numbers.

Integers represent whole numbers, which can be either positive or negative. For instance, 2 and -2 are examples of integers.

Floating point numbers, on the other hand, are characterized by the presence of a decimal point or by using exponential notation (e). Examples include 2.0, -2.1, and 4E2 (equivalent to 4 times 10 to the power of 2).

During our study, we'll predominantly engage with integers and simple floating point numbers. Below is a table illustrating these two main types along with some examples:

|Examples| Number(Types)|
|--------|--------------|
|0,5,-4,100| Integers|
|1.2,-7.2,6e2| Floating Point Numbers|

Let's commence by exploring fundamental mathematical operations.

# Basic Arithemetic

In [2]:
# Addition
2+2

4

In [3]:
# Subtraction
5-2

3

In [4]:
# Multiplication
2*2

4

In [5]:
# Division
3/2

1.5

In [9]:
# Floor Division
7//4

1

Hold on a moment! Something seems off here. I was under the impression that 7 divided by 4 equals 1.75, not 1.

The discrepancy arises because we're employing "floor" division. When we use the // operator (two forward slashes), it discards the decimal part without rounding, resulting in an integer outcome.

What if we're interested in obtaining the remainder after performing a division?

In [10]:
# Modulo
7%4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

# Arithemetic Continued

In [13]:
# power
2**3

8

In [20]:
# This method can also be utilized to compute roots.
9**0.5

3.0

In [18]:
# Order of Operations followed in Python
3 + 6 * 2 + 4

19

In [21]:
# Parentheses can be employed to specify the sequence of operations
(2+5) * (3+9)

84

# Variable Assignment

Now that we've explored the utilization of numbers in Python for basic arithmetic operations, let's delve into the process of assigning identifiers and creating variables.

In Python, we employ a single equals sign to designate names to variables. Allow me to demonstrate a few examples of this practice.

In [22]:
# We'll instantiate an object named "a" and assign it the value of 2
a=2

Now if i call a in my python script, it will treat value of a as 2.

In [24]:
# adding objects
a+a

4

If we assign a new value to the variable, will Python allow it?

In [26]:
#Reassigning
a=9

In [27]:
# Check
a

9

Absolutely! Python permits you to overwrite existing variable names. Moreover, you can use the variables themselves when reassigning values. Allow me to illustrate with an example:

In [28]:
# check
a=7

In [29]:
a+a

14

When assigning names to variables in Python, certain rules must be followed:
1. Names cannot commence with a numerical digit.
2. Spaces are prohibited; instead, use underscores (_) for separation.
3. Special characters such as :'",<>/?|()!@#$%^&*~-+ are not allowed.
4. Adhering to PEP8 conventions, it's advisable to use lowercase names.
5. It's recommended to avoid using 'l' (lowercase letter 'el'), 'O' (uppercase letter 'oh'), or 'I' (uppercase letter 'eye') as single-character variable names.
6. Steer clear of words with reserved meanings in Python, such as "list" and "str".

Utilizing descriptive variable names can significantly enhance code clarity and organization in Python. For instance:

In [35]:
# Employ meaningful object names to enhance code clarity and comprehension!
income = 550

rate_of_tax = 0.3

tax_payment = income * rate_of_tax

In [36]:
# show taxes
tax_payment

165.0

What have we covered so far? We've grasped the fundamentals of numbers in Python, delved into arithmetic operations, effectively utilizing Python as a rudimentary calculator. Furthermore, we concluded by exploring Variable Assignment in Python.

Next in line: String manipulation!

# Author
Pasang sherpa